aside.box-brand
    .wrapper-middle
        .box-aside__brand.container
            .row
                .box-aside__brand-item.col-md-4.col-sm-4
                    a.box-aside__brand-item__a(href="#")
                        img.img-fluid.box-aside__brand-item__a-img(src="./images/imageRudu/brand1.png", alt="")
                .box-aside__brand-item.col-md-4.border-left.border-right.col-sm-4
                    a.box-aside__brand-item__a(href="#")
                        img.img-fluid.box-aside__brand-item__a-img(src="./images/imageRudu/brand2.png", alt="")
                .box-aside__brand-item.col-md-4.col-sm-4
                    a.box-aside__brand-item__a(href="#")
                        img.img-fluid.box-aside__brand-item__a-img(src="./images/imageRudu/brand3.png", alt="")