.container-fluid
    .box-aside__sale-content__info
        h2.box-aside__sale-content__info-h2 Blog
        hr.box-aside__sale-content__info-hr
    .row
        mixin new-box(srcImg,title,content)
            .new-box.new-box__item.col-md-4.col-sm-6
                img.img-fluid(src=srcImg, alt="title")
                h3.new-box__item-h3
                    a.new-box__item-h3__a(href="#")= title
                p.new-box__item-note Đăng bởi Giangle | 30/06/2015 | 60 bình luận
                p.new-box__item-p= content
                a.new-box__item-a(href="#") Read more

        +new-box('./images/blog-img1.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img2.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img1.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img1.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img2.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img1.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img1.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img2.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')
        +new-box('./images/blog-img1.png','Vang Thăng Long Classic','Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...')