footer
    hr
    .wrapper-middle
        .container-fluid
                .row
                    .box-footer.col-sm-9.nopadding
                        p © Copyright 2008-2014 DKT Technology JSC
                    .box-footer-social.col-sm-3.nopadding
                        ul.box-footer-social__ul 
                            li.box-footer-social__ul-li 
                                a.box-footer-social__ul-li__a(href="#")
                                    i.fa.fa-cc-mastercard
                            li.box-footer-social__ul-li 
                                a.box-footer-social__ul-li__a(href="#")
                                    i.fa.fa-cc-visa
                            li.box-footer-social__ul-li 
                                a.box-footer-social__ul-li__a(href="#")
                                    i.fa.fa-cc-paypal
                            li.box-footer-social__ul-li 
                                a.box-footer-social__ul-li__a(href="#")
                                    i.fa.fa-cc-jcb