aside.box-aside
    .box-aside__gallary.container-fluid
        .row
            - for (var x = 1; x < 9; x++)
                .box-aside__gallary-item.col-md-3.nopadding.col-sm-6(class='box-aside__gallary-item__item' + x)
                    a.box-aside__gallary-item__a(href="#")  