aside.box-aside
    .box-aside__gallary.container-fluid
        .row
            .box-aside__gallary-item.box-aside__gallary-item__item1.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item2.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item3.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item4.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item5.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item6.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item7.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")
            .box-aside__gallary-item.box-aside__gallary-item__item8.col-md-3.nopadding.col-sm-6
                a.box-aside__gallary-item__a(href="#")