header
    nav#menu-head.container-fluid
        .nav-head.row
            ul.col-md-9.d-sm-none.d-md-flex
                li.active(style='list-style:none')
                    a.nav-link(href='#') Tài khoản của tôi       
                li
                    a.nav-link(href='#') Trạng thái đơn hàng    
                li
                    a.nav-link(href='#') Danh sách ưa thích
                li
                    a.nav-link(href='#') Giỏ hàng
                li
                    a.nav-link(href='#') Đăng nhập   
                li
                    a.nav-link(href='#') Đăng ký 
            form.form-inline.col-md-3
                input.form-control.mr-sm-2.text-white(type='search', placeholder='Tìm kiếm ở đây ...')
                button.btn(type='submit')
                    i.fa.fa-search