
<header>
  <nav class="container-fluid" id="menu-head">
    <div class="nav-head row">
      <ul class="col-md-9 d-sm-none d-md-flex">
        <li class="active" style="list-style:none"><a class="nav-link" href="#">Tài khoản của tôi       </a></li>
        <li><a class="nav-link" href="#">Trạng thái đơn hàng    </a></li>
        <li><a class="nav-link" href="#">Danh sách ưa thích</a></li>
        <li><a class="nav-link" href="#">Giỏ hàng</a></li>
        <li><a class="nav-link" href="#">Đăng nhập   </a></li>
        <li><a class="nav-link" href="#">Đăng ký </a></li>
      </ul>
      <form class="form-inline col-md-3">
        <input class="form-control mr-sm-2 text-white" type="search" placeholder="Tìm kiếm ở đây ..."/>
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>
</header>