aside.box-info-contact
    .wrapper-middle
        .box-aside__info-contact.container
            .row

                .box-aside__info-item.col-md-2.col-sm-6
                    h2.box-aside__info-item__h2 Thông tin
                    
                    ul.box-aside__info-item__ul
                        -
                            var liInfo = ['Về chúng tôi', 'Giao hàng', 'Cảm nghĩ', 'Lưu trữ', 'Chính sách riêng tư']
                        each itemInfo in liInfo
                            mixin asideInfo(item)   
                                li.box-aside__info-item__ul-li
                                    a.box-aside__info-item__ul-li__a(href="#")= item
                            +asideInfo(itemInfo)         
                        

                        
                .box-aside__info-item.col-md-2.col-sm-6
                    h2.box-aside__info-item__h2 Mua hàng
                    ul.box-aside__info-item__ul
                        -
                            var liLogic = ['Vận chuyển và trả hàng', 'Mua hàng an toàn', 'Vận quốc tế', 'Liên kết', 'Dịch vụ giảm giá']
                        each itemLogic in liLogic
                            +asideInfo(itemLogic)         
                        
                
                .box-aside__info-item.col-md-4.col-sm-6
                    h2.box-aside__info-item__h2 Gửi email
                    form.box-aside__info-item__form 
                        .form-group
                            label.box-aside__info-item__form-label Gửi email cho chúng tôi để được hỗ trợ
                            .box-aside__info-item__form-control.container
                                .row
                                    input.box-aside__info-item__form-control__input.col-sm-9.form-control(type="text", placeholder="Enter your email")
                                    .box-aside__info-item__form-control__button.col-sm-3.container-fluid.nopadding
                                        .row
                                            button.col-sm-6.nopadding.box-aside__info-item__form-control__button-btn.btn(type="submit") Gửi
                                            .triangle.col-sm-6.nopadding
                    .box-aside__info-item__social
                        ul.box-aside__info-item__social-ul
                            li.box-aside__info-item__social-ul__li
                                a.box-aside__info-item__social-ul__li-a(href="#")
                                    i.fa.fa-twitter
                            li.box-aside__info-item__social-ul__li
                                a.box-aside__info-item__social-ul__li-a(href="#")
                                    i.fa.fa-google-plus
                            li.box-aside__info-item__social-ul__li
                                a.box-aside__info-item__social-ul__li-a(href="#")
                                    i.fa.fa-dribbble
                            li.box-aside__info-item__social-ul__li
                                a.box-aside__info-item__social-ul__li-a(href="#")
                                    i.fa.fa-linkedin
                            li.box-aside__info-item__social-ul__li
                                a.box-aside__info-item__social-ul__li-a(href="#")
                                    i.fa.fa-stack-overflow                               
                
                .box-aside__info-item.col-md-4.col-sm-6
                    h2.box-aside__info-item__h2 Liên hệ
                    p.box-aside__info-item__p 
                        i.fa.fa-map-marker 
                        span  Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
                    
                    p.box-aside__info-item__p  
                        i.fa.fa-phone-square 
                        span  (04) 6674 2332 
                        i - 
                        i.fa.fa-phone-square 
                        span  (04) 3786 8904
                    p.box-aside__info-item__p
                        i.fa.fa-phone-square 
                        span  (04) 6674 2332 
                        i - 
                        i.fa.fa-envelope
                        span  Support@bizweb.vn