article
    .article.box-article.introduce
        .wrapper-middle
            .box-article__content.container-fluild
                h2.box-article__content-title Giới thiệu
                hr.box-article__content-hr
                p.box-article__content-p dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Nam liber tempor cum soluta nobis eleifend option 
                    | congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui 
                    | faciteorum claritatem. Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, 
                    | qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam
                button.box-article__content-btn.btn(type="button")
                    a(href="#") Xem thêm
    
    aside.box-aside.sale
        .wrapper-middle
            .box-aside__sale.container-fluid
                .box-aside__sale-bg
                    img.img-fluid(src="../images/imageRudu/wine-63931_12802-1240x829.jpg", alt="wine-bg")
                    .box-aside__sale-content.container-fluid
                        .row
                            .box-aside__sale-content_picture.col-sm-7.nopadding
                                .box-aside__sale-content_picture__sale
                                    img.img-fluid(src="./images/sale.png", alt="sale")
                                .box-aside__sale-content_picture__product
                                    img.box-aside__sale-content_picture__product-img.img-fluid(src="./images/product/14.jpg", alt="product")
                            .box-aside__sale-content__info.col-sm-5.nopadding
                                h2.box-aside__sale-content__info-h2 Rượu nho năm 1987
                                hr.box-aside__sale-content__info-hr
                                h3.box-aside__sale-content__info-h3 330.000đ
                                button.box-aside__sale-content__info-button 
                                    a(href="#") Add to cart
                                p.box-aside__sale-content__info-p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
                                table.box-aside__sale-content__info-table.table.table-bordered
                                    tbody.box-aside__sale-content__info-table__tbody
                                        tr.box-aside__sale-content__info-table__tbody-tr
                                            td.box-aside__sale-content__info-table__tbody-tr__td
                                                p.box-aside__sale-content__info-table__tbody-tr__td-p 334
                                                p.box-aside__sale-content__info-table__tbody-tr__td-span Ngày
                                            td.box-aside__sale-content__info-table__tbody-tr__td 
                                                p.box-aside__sale-content__info-table__tbody-tr__td-p 26
                                                p.box-aside__sale-content__info-table__tbody-tr__td-span giờ
                                        tr.box-aside__sale-content__info-table__tbody-tr
                                            td.box-aside__sale-content__info-table__tbody-tr__td 
                                                p.box-aside__sale-content__info-table__tbody-tr__td-p 60
                                                p.box-aside__sale-content__info-table__tbody-tr__td-span phút
                                            td.box-aside__sale-content__info-table__tbody-tr__td 
                                                p.box-aside__sale-content__info-table__tbody-tr__td-p 15
                                                p.box-aside__sale-content__info-table__tbody-tr__td-span giây

    .article.box-article.new-product
        .wrapper-middle
            .box-article__content.container-fluild
                h2.box-article__content-title sản phẩm mới
                hr.box-article__content-hr
            .box-article__content-new-products.row
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-hotdeal.img-fluid(src="./images/sale-left.png", alt="sale")
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/imageRudu/508c88894d0b4dccaa27670fb720938d.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-hotdeal.img-fluid(src="./images/moi.png", alt="sale")
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/imageRudu/ASB0904_001.jpeg", alt="product")
                        .box-article__content-new-products-col__content-review
                            table.content-review__table.table.nopadding
                                    tbody.content-review__table-tbody
                                        tr.content-review__table-tbody__tr
                                            td.content-review__table-tbody__tr-td
                                                a.content-review__table-tbody__tr-td__a(href="#") 
                                                    i.content-review__table-tbody__tr-td__a-i.fa.fa-heart
                                                    span.content-review__table-tbody__tr-td__a-span Yêu thích
                                            td.content-review__table-tbody__tr-td 
                                                a.content-review__table-tbody__tr-td__a(href="#")
                                                    i.content-review__table-tbody__tr-td__a-i.fa.fa-signal
                                                    span.content-review__table-tbody__tr-td__a-span So sánh
                                            td.content-review__table-tbody__tr-td  
                                                a.content-review__table-tbody__tr-td__a(href="#")
                                                    i.content-review__table-tbody__tr-td__a-i.fa.fa-compress

                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-hotdeal.img-fluid(src="./images/hot.png", alt="sale")
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/imageRudu/a26abccb2f65c963a597c2ad76f95051.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart  

                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/imageRudu/1e904be72e9063d0305655ae2d071025.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart