
<article>
  <div class="article box-article introduce">
    <div class="wrapper-middle">
      <div class="box-article__content container-fluild">
        <h2 class="box-article__content-title">Giới thiệu</h2>
        <hr class="box-article__content-hr"/>
        <p class="box-article__content-p">
          dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui 
          faciteorum claritatem. Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, 
          qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam
        </p>
        <button class="box-article__content-btn btn" type="button"><a href="#">Xem thêm</a></button>
      </div>
    </div>
  </div>
  <aside class="box-aside sale">
    <div class="wrapper-middle">
      <div class="box-aside__sale container-fluid">
        <div class="box-aside__sale-bg"><img class="img-fluid" src="../images/imageRudu/wine-63931_12802-1240x829.jpg" alt="wine-bg"/>
          <div class="box-aside__sale-content container-fluid">
            <div class="row">
              <div class="box-aside__sale-content_picture col-sm-7 nopadding">
                <div class="box-aside__sale-content_picture__sale"><img class="img-fluid" src="./images/sale.png" alt="sale"/></div>
                <div class="box-aside__sale-content_picture__product"><img class="box-aside__sale-content_picture__product-img img-fluid" src="./images/product/14.jpg" alt="product"/></div>
              </div>
              <div class="box-aside__sale-content__info col-sm-5 nopadding">
                <h2 class="box-aside__sale-content__info-h2">Rượu nho năm 1987</h2>
                <hr class="box-aside__sale-content__info-hr"/>
                <h3 class="box-aside__sale-content__info-h3">330.000đ</h3>
                <button class="box-aside__sale-content__info-button"> <a href="#">Add to cart</a></button>
                <p class="box-aside__sale-content__info-p">Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.</p>
                <table class="box-aside__sale-content__info-table table table-bordered">
                  <tbody class="box-aside__sale-content__info-table__tbody">
                    <tr class="box-aside__sale-content__info-table__tbody-tr">
                      <td class="box-aside__sale-content__info-table__tbody-tr__td">
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-p">334</p>
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-span">Ngày</p>
                      </td>
                      <td class="box-aside__sale-content__info-table__tbody-tr__td"> 
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-p">26</p>
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-span">giờ</p>
                      </td>
                    </tr>
                    <tr class="box-aside__sale-content__info-table__tbody-tr">
                      <td class="box-aside__sale-content__info-table__tbody-tr__td"> 
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-p">60</p>
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-span">phút</p>
                      </td>
                      <td class="box-aside__sale-content__info-table__tbody-tr__td"> 
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-p">15</p>
                        <p class="box-aside__sale-content__info-table__tbody-tr__td-span">giây</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="article box-article new-product">
    <div class="wrapper-middle">
      <div class="box-article__content container-fluild">
        <h2 class="box-article__content-title">sản phẩm mới</h2>
        <hr class="box-article__content-hr"/>
      </div>
      <div class="box-article__content-new-products row">
        <div class="box-article__content-new-products-col col-md-3 col-sm-6">
          <div class="box-article__content-new-products-col__content"><img class="box-article__content-new-products-col__content-hotdeal img-fluid" src="./images/sale-left.png" alt="sale"/><img class="box-article__content-new-products-col__content-products img-fluid" src="./images/imageRudu/508c88894d0b4dccaa27670fb720938d.jpg" alt="product"/>
            <h4 class="box-article__content-new-products-col__content-h4"> <a href="#">rượu vang đà lạt</a></h4>
            <p class="box-article__content-new-products-col__content-p"><span class="box-article__content-new-products-col__content-p__price">370.000<sup>đ</sup></span><span class="box-article__content-new-products-col__content-p__saleprice"> - 
                <del>450.000<sup>đ</sup></del></span></p>
            <button class="box-article__content-new-products-col__content-button"> <a href="#">Add to cart</a></button>
          </div>
        </div>
        <div class="box-article__content-new-products-col col-md-3 col-sm-6">
          <div class="box-article__content-new-products-col__content"><img class="box-article__content-new-products-col__content-hotdeal img-fluid" src="./images/moi.png" alt="sale"/><img class="box-article__content-new-products-col__content-products img-fluid" src="./images/imageRudu/ASB0904_001.jpeg" alt="product"/>
            <div class="box-article__content-new-products-col__content-review">
              <table class="content-review__table table nopadding">
                <tbody class="content-review__table-tbody">
                  <tr class="content-review__table-tbody__tr">
                    <td class="content-review__table-tbody__tr-td"><a class="content-review__table-tbody__tr-td__a" href="#"> <i class="content-review__table-tbody__tr-td__a-i fa fa-heart"></i><span class="content-review__table-tbody__tr-td__a-span">Yêu thích</span></a></td>
                    <td class="content-review__table-tbody__tr-td"> <a class="content-review__table-tbody__tr-td__a" href="#"><i class="content-review__table-tbody__tr-td__a-i fa fa-signal"></i><span class="content-review__table-tbody__tr-td__a-span">So sánh</span></a></td>
                    <td class="content-review__table-tbody__tr-td"> <a class="content-review__table-tbody__tr-td__a" href="#"><i class="content-review__table-tbody__tr-td__a-i fa fa-compress"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h4 class="box-article__content-new-products-col__content-h4"> <a href="#">rượu vang đà lạt</a></h4>
            <p class="box-article__content-new-products-col__content-p"><span class="box-article__content-new-products-col__content-p__price">370.000<sup>đ</sup></span><span class="box-article__content-new-products-col__content-p__saleprice"> - 
                <del>450.000<sup>đ</sup></del></span></p>
            <button class="box-article__content-new-products-col__content-button"> <a href="#">Add to cart</a></button>
          </div>
        </div>
        <div class="box-article__content-new-products-col col-md-3 col-sm-6">
          <div class="box-article__content-new-products-col__content"><img class="box-article__content-new-products-col__content-hotdeal img-fluid" src="./images/hot.png" alt="sale"/><img class="box-article__content-new-products-col__content-products img-fluid" src="./images/imageRudu/a26abccb2f65c963a597c2ad76f95051.jpg" alt="product"/>
            <h4 class="box-article__content-new-products-col__content-h4"> <a href="#">rượu vang đà lạt</a></h4>
            <p class="box-article__content-new-products-col__content-p"><span class="box-article__content-new-products-col__content-p__price">370.000<sup>đ</sup></span><span class="box-article__content-new-products-col__content-p__saleprice"> - 
                <del>450.000<sup>đ</sup></del></span></p>
            <button class="box-article__content-new-products-col__content-button"> <a href="#">Add to cart  </a></button>
          </div>
        </div>
        <div class="box-article__content-new-products-col col-md-3 col-sm-6">
          <div class="box-article__content-new-products-col__content"><img class="box-article__content-new-products-col__content-products img-fluid" src="./images/imageRudu/1e904be72e9063d0305655ae2d071025.jpg" alt="product"/>
            <h4 class="box-article__content-new-products-col__content-h4"> <a href="#">rượu vang đà lạt</a></h4>
            <p class="box-article__content-new-products-col__content-p"><span class="box-article__content-new-products-col__content-p__price">370.000<sup>đ</sup></span><span class="box-article__content-new-products-col__content-p__saleprice"> - 
                <del>450.000<sup>đ</sup></del></span></p>
            <button class="box-article__content-new-products-col__content-button"> <a href="#">Add to cart</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>