nav
    #menu.navbar
        a.navbar-brand(href='#') 
            img(src="./images/logo.png", alt="logo")
        .navbar-button
            i.fa.fa-bars
        .navbar-nav
            a.nav-item.nav-link.active(href='#')
                | Trang chủ
            a.nav-item.nav-link(href='#') Rượu Vang đỏ 
            a.nav-item.nav-link(href='#') rượu trắng
            a.nav-item.nav-link(href='#') rượu champagne
            a.nav-item.nav-link(href='#') thông tin
            a.nav-item.nav-link(href='#') blog
            a.nav-item.nav-link(href='#') liên hệ