nav
    #menu.navbar
        a.navbar-brand(href='#') 
            img(src="./images/logo.png", alt="logo")
        .navbar-button
            i.fa.fa-bars
        ul.navbar-nav
            li.navbar-nav-li
                a.nav-item.nav-link(href='index.html')
                    | Trang chủ
            li.navbar-nav-li.active
                a.nav-item.nav-link(href='#').active Rượu Vang đỏ 
                include sub-nav
            -
                var list = ["rượu trắng", "rượu champagne",
                        "thông tin", "blog", "liên hệ"]
            each item in list
                li.navbar-nav-li
                    a.nav-item.nav-link(href='#')= item
            
