article
    .article.box-article.new-product
        .wrapper-middle
            .box-article__content.container-fluild
                h2.box-article__content-title sản phẩm bán chạy
                hr.box-article__content-hr
            .box-article__content-new-products.row
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/7.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                    

                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/8.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/1.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart

                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/2.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                
    .article.box-article.new-customers.container-fluid
        .wrapper-middle.row
            .box-article__content.col-sm-8.nopadding
                h2.box-article__content-title Tin tức & blog
                hr.box-article__content-hr
                .new-box.container-fluid
                    .row
                        .new-box__item.col-sm-6
                            img.img-fluid(src="./images/imageRudu/new1.jpg", alt="new1")
                            h3.new-box__item-h3
                                a.new-box__item-h3__a(href="#") Vang Thăng Long Classic
                            p.new-box__item-note Đăng bởi Giangle | 30/06/2015 | 60 bình luận
                            p.new-box__item-p Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. 
                                | Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, 
                                | sản phẩm được đóng chai dung tích 750ml...
                            a.new-box__item-a(href="#") Read more

                        .new-box__item.col-sm-6
                            img.img-fluid(src="./images/imageRudu/new2.jpg", alt="new1")
                            h3.new-box__item-h3
                                a.new-box__item-h3__a(href="#") Vang Thăng Long Classic
                            p.new-box__item-note Đăng bởi Giangle | 30/06/2015 | 60 bình luận
                            p.new-box__item-p Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. 
                                | Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, 
                                | sản phẩm được đóng chai dung tích 750ml...
                            a.new-box__item-a(href="#") Read more

            
            .box-article__content.col-sm-4.nopadding
                h2.box-article__content-title khách hàng
                hr.box-article__content-hr
                .customer-box
                    .customer-box__eclipse
                        i.customer-box__eclipse-i.fa.fa-quote-right
                    p.customer-box__p Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. 
                                | Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, 
                                | sản phẩm được đóng chai dung tích 750ml...
                    a.customer-box__a(href="#") Read more
                    .customer-box__avatar
                        img.mx-auto.d-block.customer-box__avatar-img(src="./images/imageRudu/timthumb (2).jpg", alt="")
                    h3.customer-box__h3 Giang Lt
                    p.customer-box__p Graphic Design
                    .customer-box__button
                        ol.customer-box__button-ol
                            li.customer-box__button-ol__li.active
                                i.fa.fa-circle
                            li.customer-box__button-ol__li
                                i.fa.fa-circle
                            li.customer-box__button-ol__li
                                i.fa.fa-circle