mixin article(title='Default Title')   
    .article.box-article.new-product
        .wrapper-middle
            .box-article__content.container-fluild
                h2.box-article__content-title= title
                hr.box-article__content-hr
            .box-article__content-new-products.row
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/7.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                    

                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/8.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart
                
                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/1.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart

                .box-article__content-new-products-col.col-md-3.col-sm-6
                    .box-article__content-new-products-col__content
                        img.box-article__content-new-products-col__content-products.img-fluid(src="./images/product/2.jpg", alt="product")
                        h4.box-article__content-new-products-col__content-h4 
                            a(href="#") rượu vang đà lạt
                        p.box-article__content-new-products-col__content-p
                            span.box-article__content-new-products-col__content-p__price 370.000
                                sup đ
                            span.box-article__content-new-products-col__content-p__saleprice  - 
                                del 450.000
                                    sup đ
                        button.box-article__content-new-products-col__content-button 
                            a(href="#") Add to cart