.container-fluid
    .row
        .col-md-7.picture-slide
            .container-fluid
                .row
                    .picture-slide__thumb.col-lg-2
                        .picture-slide__galerry.flex-lg-first.mb-md-0.mb-4
                            p.text-center
                                i.fa.fa-angle-up
                            .picture-slide__galerry-item.border-full-1px-solid.border-color-a0.justify-content-center
                                img.img-fluid(src="./images/thum1.png", alt="thum1")
                            .picture-slide__galerry-item.border-full-1px-solid.border-color-a0.justify-content-center
                                img.img-fluid(src="./images/thum1.png", alt="thum1")
                            .picture-slide__galerry-item.border-full-1px-solid.border-color-a0.justify-content-center
                                img.img-fluid(src="./images/thum2.png", alt="thum2")
                            .picture-slide__galerry-item.border-full-1px-solid.border-color-a0.justify-content-center
                                img.img-fluid(src="./images/thum3.png", alt="thum3")
                            .picture-slide__galerry-item.border-full-1px-solid.border-color-a0.justify-content-center
                                img.img-fluid(src="./images/thum1.png", alt="thum1")
                            p.text-center
                                i.fa.fa-angle-down
                    .picture-slide__zoom.col-lg-10
                        .picture-zoom.justify-content-center.align-items-center.w-100.px-5
                            img.img-fluid(src="./images/zoom.png", alt="photozoom")
                        
        .col-md-5.show-info
            .box-aside__sale-content__info
                h2.box-aside__sale-content__info-h2 Rượu nho năm 1987
                hr.box-aside__sale-content__info-hr
                h3.box-aside__sale-content__info-h3 330.000đ
                hr
                ul.box-aside__sale-content__info-ul.d-flex.align-content-center
                    li.box-aside__sale-content__ul-li 
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star-half-o
                        i.fa.fa-star-o
                    li.box-aside__sale-content__ul-li 1 Review(S) | Add Your Review
                hr
                
                h4.box-aside__sale-content__info-h4 Màu sắc
                ul.list-unstyled.list-inline
                    li.list-inline-item
                        .p-1(style="border:1px solid #bfb6bb")
                            .w-100.h-100(style="background-color:#e6ae48")
                    li.list-inline-item
                        .p-1
                            .w-100.h-100(style="background-color:#030102")
                    li.list-inline-item
                        .p-1
                            .w-100.h-100(style="background-color:#9c0001")
                h4.box-aside__sale-content__info-h4 Kích cỡ
                select.custom-select.font-weight-bold
                    option(selected="selected") Size
                    option(value="1") Xs
                    option(value="2") S
                    option(value="3") M
                    option(value="4") L
                    option(value="5") XL
                    option(value="6") XXL
                h4.box-aside__sale-content__info-h4 Số lượng
                .custom.d-flex.align-content-center
                    .ctrl
                        .ctrl-button.ctrl-button-decrement -
                        .ctrl-counter
                            input.ctrl-counter-input(maxlength='10', type='text', value='0')
                            .ctrl-counter-num 0
                        .ctrl-button.ctrl-button-increment +

                    button.box-aside__sale-content__info-button 
                        a(href="#") Add to cart
                ul.box-aside__sale-content__info-ul.d-flex.align-content-center
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-heart
                            span Yêu thích
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-signal
                            span So sánh
                    li.box-aside__sale-content__info-ul-li
                        a(href="#")
                            i.fa.fa-compress
                h4.box-aside__sale-content__info-h4 Mô tả
                p.box-aside__sale-content__info-p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
                
                ul.box-aside__sale-content__info-ul.d-flex.align-content-center
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-thumbs-o-up
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-twitter
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-google-plus-official
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-linkedin-square
                    li.box-aside__sale-content__info-ul-li
                        a(href="#") 
                            i.fa.fa-pinterest-square
.description-box.container-fluid
    .row
        .col-md-7.description
            ul.nav.nav-tab
                li.nav-item.active
                    a.nav-item__link(href="#") Đặc điểm nổi bật 
                li.nav-item
                    a.nav-item__link(href="#") Thông tin sản phẩm
                li.nav-item
                    a.nav-item__link(href="#") Đánh giá
            .tab-content
                p   Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, 
                    |thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.
                    |Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item 
                    |mà các cô nàng chân to nên gắn bó trong mùa hè này.

        .col-md-5.img-description.d-flex.justify-content-end
            img.img-fluid(src="./images/tab-img.png", alt="tab-img")