.sub-nav.container
    .row
        .sub-nav__child.col-md-3
            h3.sub-nav__child-h3 Rượu ngoại
            ul.sub-nav__child-ul
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Chivas
                li.sub-nav__child-ul__li.active
                    a(href="#") Hàng độc - Rượu độc đáo
                li.sub-nav__child-ul__li
                    a(href="#") Johnnie Walker
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Whisky 
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Remy Martin
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Glenmorangie 

        .sub-nav__child.col-md-3.nopadding
            h3.sub-nav__child-h3 Rượu Vang
            ul.sub-nav__child-ul
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Chivas
                li.sub-nav__child-ul__li
                    a(href="#") Hàng độc - Rượu độc đáo
                li.sub-nav__child-ul__li
                    a(href="#") Johnnie Walker
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Whisky 
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Remy Martin
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Glenmorangie 

        .sub-nav__child.col-md-3.nopadding
            h3.sub-nav__child-h3 Rượu ngoại
            ul.sub-nav__child-ul
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Chivas
                li.sub-nav__child-ul__li
                    a(href="#") Hàng độc - Rượu độc đáo
                li.sub-nav__child-ul__li
                    a(href="#") Johnnie Walker
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Whisky 
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Remy Martin
                li.sub-nav__child-ul__li
                    a(href="#") Rượu Glenmorangie 
        .sub-nav__child.col-md-3
            img.sub-nav__child-img(src="./images/menu-img.png", alt="menu-img")