doctype html
html(lang='vi')
    head
        title Drink_FE22_Hanam 
        // Required meta tags
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // font google
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=vietnamese", rel="stylesheet")
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='../css/detail.css')
    body
        .wrapper
            include ./subpage/normal-header
            include ./subpage/nav

            article
                include ./subpage/module-donhang 
            include ./subpage/brand
            include ./subpage/info-contact                         
            include ./subpage/footer                     
        // Optional JavaScript
        // font-awesome
        script(src="https://use.fontawesome.com/55051cfd3d.js")
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
