doctype html
html(lang='vi')
    head
        title Drink_FE22_Hanam 
        // Required meta tags
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='./css/style.css')
    body
        .wrapper
            include ./subpage/header
            include ./subpage/nav

            include ./subpage/main-article

            include ./subpage/gallery
            include ./subpage/new-product
                
            


            
                    
            aside.box-brand
                .wrapper-middle
                    .box-aside__brand.container
                        .row
                            .box-aside__brand-item.col-md-4.col-sm-4
                                a.box-aside__brand-item__a(href="#")
                                    img.img-fluid.box-aside__brand-item__a-img(src="./images/imageRudu/brand1.png", alt="")
                            .box-aside__brand-item.col-md-4.border-left.border-right.col-sm-4
                                a.box-aside__brand-item__a(href="#")
                                    img.img-fluid.box-aside__brand-item__a-img(src="./images/imageRudu/brand2.png", alt="")
                            .box-aside__brand-item.col-md-4.col-sm-4
                                a.box-aside__brand-item__a(href="#")
                                    img.img-fluid.box-aside__brand-item__a-img(src="./images/imageRudu/brand3.png", alt="")
                            
            aside.box-info-contact
                .wrapper-middle
                    .box-aside__info-contact.container
                        .row
                            .box-aside__info-item.col-md-2.col-sm-6
                                h2.box-aside__info-item__h2 Thông tin
                                ul.box-aside__info-item__ul
                                    li.box-aside__info-item__ul-li
                                        a.box-aside__info-item__ul-li__a(href="#") Về chúng tôi 
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Giao hàng
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Cảm nghĩ
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Lưu trữ 
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Chính sách riêng tư

                                    
                            .box-aside__info-item.col-md-2.col-sm-6
                                h2.box-aside__info-item__h2 Mua hàng
                                ul.box-aside__info-item__ul
                                    li.box-aside__info-item__ul-li
                                        a.box-aside__info-item__ul-li__a(href="#") Vận chuyển và trả hàng
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Mua hàng an toàn
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Vận quốc tế
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Liên kết
                                    li
                                        a.box-aside__info-item__ul-li__a(href="#") Dịch vụ giảm giá
                            
                            .box-aside__info-item.col-md-4.col-sm-6
                                h2.box-aside__info-item__h2 Gửi email
                                form.box-aside__info-item__form 
                                    .form-group
                                        label.box-aside__info-item__form-label Gửi email cho chúng tôi để được hỗ trợ
                                        .box-aside__info-item__form-control.container
                                            .row
                                                input.box-aside__info-item__form-control__input.col-sm-9.form-control(type="text", placeholder="Enter your email")
                                                .box-aside__info-item__form-control__button.col-sm-3.container-fluid.nopadding
                                                    .row
                                                        button.col-sm-6.nopadding.box-aside__info-item__form-control__button-btn.btn(type="submit") Gửi
                                                        .triangle.col-sm-6.nopadding
                                .box-aside__info-item__social
                                    ul.box-aside__info-item__social-ul
                                        li.box-aside__info-item__social-ul__li
                                            a.box-aside__info-item__social-ul__li-a(href="#")
                                                i.fa.fa-twitter
                                        li.box-aside__info-item__social-ul__li
                                            a.box-aside__info-item__social-ul__li-a(href="#")
                                                i.fa.fa-google-plus
                                        li.box-aside__info-item__social-ul__li
                                            a.box-aside__info-item__social-ul__li-a(href="#")
                                                i.fa.fa-dribbble
                                        li.box-aside__info-item__social-ul__li
                                            a.box-aside__info-item__social-ul__li-a(href="#")
                                                i.fa.fa-linkedin
                                        li.box-aside__info-item__social-ul__li
                                            a.box-aside__info-item__social-ul__li-a(href="#")
                                                i.fa.fa-stack-overflow                               
                            
                            .box-aside__info-item.col-md-4.col-sm-6
                                h2.box-aside__info-item__h2 Liên hệ
                                p.box-aside__info-item__p 
                                    i.fa.fa-map-marker 
                                    span  Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
                                
                                p.box-aside__info-item__p  
                                    i.fa.fa-phone-square 
                                    span  (04) 6674 2332 
                                    i - 
                                    i.fa.fa-phone-square 
                                    span  (04) 3786 8904
                                p.box-aside__info-item__p
                                    i.fa.fa-phone-square 
                                    span  (04) 6674 2332 
                                    i - 
                                    i.fa.fa-envelope
                                    span  Support@bizweb.vn
                                    
            include ./subpage/footer               

            


            
        // Optional JavaScript
        // font-awesome
        script(src="https://use.fontawesome.com/55051cfd3d.js")
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
