doctype html
html(lang='vi')
    include ./subpage/head-detail
    +head('Sản phẩm')
    body
        .wrapper
            include ./subpage/normal-header
            include ./subpage/nav
            include ./subpage/module-product2    
            include ./subpage/brand
            include ./subpage/info-contact
            include ./subpage/footer      
        include ./subpage/js         
            

            


            
        
