$white: #d6d6d6;
$white-light: #ffffff;
$yellow: #e6ae48;
$black: #000000;
$grey: #818181;
$blackwhite: #050505;
$greywhite: #b4b4b4;
$grey-border: #262626;
$black-grey: #303030;
$white-grey: #c1c1c1;
$light-grey: #a7a7a7;
$black-dark: #212121;
$white-border: #e8e8e8;
$background-sm: #252525;
$social-color: #898989;
$address-color: #494949;
$mega-color: #737373;
