$max-width: 120rem;
$middle-width: 71.375rem;
$center: 0 auto;
$font-126: 7.825rem;
$font-100: 6.25rem;
$font-52: 3.25rem;
$font-48: 3rem;
$font-42: 2.625rem;
$font-38: 2.375rem;
$font-34: 2.125rem;
$font-30: 1.875rem;
$font-28: 1.75rem;
$font-26: 1.625rem;
$font-25: 1.5625rem;
$font-24: 1.5rem;
$font-21: 1.3125rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: 0.82rem;
$font-13: 0.8125rem;
$font-12: 0.75rem;
$font-10: 0.625rem;
$font-8: 0.5rem;
$font-4: 0.25rem;
$font-3: 0.1875rem;
$font-2: 0.125rem;
$font-1: 1;
$font-hr: 11.875rem;
$head-height: 41.5rem;
