.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding-right{
    padding-right: 0 !important;
}
.nopadding-left{
    padding-left: 0 !important;
}
.border-left{
    border-left: 1px solid $white-border;
}
.border-right{
    border-right: 1px solid $white-border;
}