// mobile
@media (min-width: 320px) and (max-width: 480px) {
  html{
    font-size: 8px;
  }
  article{
    .box-article__content-hr {
      display: none;
    }
  }
  header{
    display: none;
  }
  .box-info-contact{
    .box-aside__info-contact{
        .box-aside__info-item{
          margin-top: 1.5rem;
            &__form{
                &-control{
                    &__button{
                        .triangle{
                          border-top: 13px solid transparent;
                          border-left: 17px solid #252525;
                          border-bottom: 12px solid transparent;
                        }
                    }
                }
            }  
        }
    }
  }
  aside{
    .box-aside__gallary{
      display: none;
    }
  }

  article{
    .box-article.new-product{
        .box-article__content-new-products{
            margin-top: $font-48;
            &-col{
                &__content{
                    &-hotdeal{
                        position: absolute;
                        left: 25%;
                    }   
                }
            }
        }
    }
  }

  nav{
    #menu{
      .navbar-nav{
        display: none;
      }
      .navbar-button{
        display: block;
        i{
          font-size: 3rem;
        }
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 720px) {
    // Viet CSS tai day
    html{
      font-size: 10px;
    }
    article{
      .box-article__content-hr {
        width: 20rem;
      }
    }
    .box-info-contact{
      .box-aside__info-contact{
          .box-aside__info-item{
            margin-top: 1.5rem;
              &__form{
                  &-control{
                      &__button{
                          .triangle{
                            border-top: 13px solid transparent;
                            border-left: 17px solid #252525;
                            border-bottom: 12px solid transparent;
                          }
                      }
                  }
              }  
          }
      }
    }

    article{
      .box-article.new-product{
        display: none;
      }
    }

    nav{
      #menu{
        .navbar-nav{
          display: none;
        }
        .navbar-button{
          display: block;
          i{
            font-size: 3rem;
          }
        }
      }
    }

    
  }
   
  // tablet
  @media (min-width: 768px) and (max-width: 980px) {
    html{
      font-size: 10px;
    }
    nav{
      #menu{
        a.navbar-brand{
          padding-right: 0;
        }
      }
    }
    article{
      .box-article__content-hr {
        width: 19rem;
      }
    }
    header{
      #menu-head{
        
      }
    }
    nav{
      .navbar-{

      }
    }
    .box-info-contact{
      .box-aside__info-contact{
          .box-aside__info-item{
              &__form{
                  &-control{
                      &__button{
                          .triangle{
                            border-top: 12px solid transparent;
                            border-left: 15px solid #252525;
                            border-bottom: 12px solid transparent;
                          }
                      }
                  }
              }  
          }
      }
    }
  }
   
  // desktop
  @media (min-width: 980px) and (max-width: 1600px) {
    html{
      font-size: 14px;
    }
    article{
      .box-article__content-hr {
        width: 14rem;
      }
    }
    nav{
      #menu{
        a.navbar-brand{
          padding-right: 0;
        }
      }
    }
    .box-info-contact{
      .box-aside__info-contact{
          .box-aside__info-item{
              &__form{
                  &-control{
                      &__button{
                          .triangle{
                              border-top: 17px solid transparent;
                              border-left: 25px solid $background-sm;
                              border-bottom: 17px solid transparent;
                          }
                      }
                  }
              }  
          }
      }
    }
  }